:root {
    --bgcolor: #ddf;
    --primary-color: #fff;
    --secondary-color: #ffaa00;
    --accent1-color: #007;
    --accent2-color: #000;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bgcolor);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header {
    padding: 24px;
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
}

header img {
    max-width: 150px;
    height: auto;
}

header a {
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 700;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    position: absolute;
    top: -325px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: .7;
    background-color: var(--accent1-color);
}

h2 {
    background-color: var(--accent1-color);
    padding: 10px;
    text-align: center;
}

figcaption {
    text-align: center;
}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

footer nav {
    grid-column-end: 4;
    grid-row: 1;
    justify-self: right;
}

footer img {
    width: 50px;
}

footer p {
    width: 100%;
    grid-column: 1 / span all;
    grid-row: 1;
    text-align: center;

}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 350px;
    background-color: var(--secondary-color);
    color: var(--accent2-color)
}

.hero article p {
    background-color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 150px;
    height: auto;
    box-shadow: 0 0 20px var(--accent2-color);
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.history img {
    max-width: 300px;
    height: auto;
}

.adventure {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
}

.adventure img {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 18px;
}