:root {
    --bgcolor: #ddf;
    --primary-color: #fff;
    --secondary-color: #ffc900;
    --accent1-color: #007;
    --accent2-color: #000;
    --formcolor: #ccf;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bgcolor);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

header {
    padding: 24px;
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
}

header img {
    max-width: 150px;
    height: auto;
}

header a {
    text-decoration: none;
    color: var(--accent1-color);
}

header a:hover {
    color: #00f
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 700;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    background-color: var(--accent1-color);
    padding: 10px;
    text-align: center;
}

.overlay {
    position: absolute;
    top: -385px;
    width: 100%;
    opacity: .7;
}

iframe {
    width: 375px;
    height: 460px;
    border: 0;
    box-shadow: 0 0 15px;
    border-radius: 10px;
}

form {
    margin: 1rem;
    padding: 1rem;
}

label {
    background-color: transparent;
    margin: 0.25rem;
}

input,
textarea {
    background-color: #fff;
    margin: 0.25rem;
    padding: .5rem;
    font-family: inherit;
}

textarea {
    width: 100%;
    height: 5rem;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    vertical-align: center;
}

button {
    background-color: var(--accent1-color);
    color: var(--primary-color);
    font-size: inherit;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 10px;
    width: 100%;
    border: 0;
    box-shadow: 5px 5px 5px #000;
    width: 95%;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--accent2-color)
}

.profile figure {
    display: block;
    background-color: transparent;
    justify-content: center;
    text-align: center;
}

.profile .bold {
    background-color: transparent;
}

figcaption {
    text-align: center;
}

.profile figcaption {
    background-color: transparent;
}

footer {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

footer nav {
    grid-column-end: 4;
    grid-row: 1;
    justify-self: right;
}

footer img {
    width: 50px;
}

footer p {
    width: 100%;
    grid-column: 1 / span all;
    grid-row: 1;
    text-align: center;

}

.socialmedia a {
    text-decoration: none;
}

.wide {
    width: 100%;
    height: 1rem;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 400px;
    background-color: var(--secondary-color);
    color: var(--accent2-color)
}

.hero article p {
    background-color: transparent;
}

.home-overlay {
    position: absolute;
    top: 50px;
    width: 100%;
    opacity: .7;
}

.banner {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 500px;
    background-color: var(--secondary-color);
    width: 100%;
    padding: 5px;
}

.hero article img {
    float: right;
    width: 150px;
    height: auto;
    box-shadow: 0 0 20px var(--accent2-color);
}

.home {
    position: relative;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    margin-top: 50px;
}

.home img {
    float: left;
    margin: 10px 20px 10px 10px;
    width: 150px;
    height: auto;
    box-shadow: 0 0 20px var(--accent2-color);
}

.home p {
    background-color: transparent;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.history img {
    max-width: 300px;
    height: auto;
}

.cta {
    margin: 1rem 1rem 0 1rem;
    width: 100%;
    background-color: var(--primary-color);
}

.cta p {
    background-color: transparent;
}

.cta a {
    display: block;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    justify-self: center;
    width: 100%;
}

.cta a:hover {
    color: var(--secondary-color);
    background-color: var(--accent2-color);
}

.home-fun {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin-top: 50px;
}

.home-fun img {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;

}

.small {
    display: flex;
    width: 90%;
    align-items: bottom;
    justify-self: center;
    border-radius: 10px;
    box-shadow: 0 0 15px;
    background-color: var(--primary-color);
}

.adventure {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
}

.adventure img {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 18px;
}

.shadedoutline {
    border-radius: 10px;
    box-shadow: 0 0 15px;
    background-color: var(--formcolor);

}

.addressfield {
    display: block;
    justify-self: center;
    padding: 1rem;
    margin: 1rem;
}

.address {
    display: block;
    justify-self: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.25rem;
    margin: 0.25rem;
    background-color: transparent;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.grid-home {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 7fr 1fr 7fr;
    align-items: center;
    align-self: center;
}

.nice-width {
    display: flex;
    column-span: all;
    width: 75%;
    justify-content: center;
    justify-self: center;
    margin: 24px;
    padding: 16px;
}

.formitem {
    background-color: transparent;
    padding: 0.25rem;
}

.column {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.profile {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    background-color: transparent;
}

.profile img {
    height: 150px;
}