* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-size: 1px;
    --border-color: black;
    --aside-border-color: rgb(0 0 139 / 0.3);
    --header-color: darkblue;
    --shadow-color: gray;
    --main-border-style: solid;
    --blur-radius: 30px;
    --shadow-offset: 0 0;
    --img-width: 150px;
    --img-padding: 2px;
    --bg-color: darkblue;
    --aside-bgcolor: rgb(208, 235, 252);
    --nav-color: white;
    --aside-color: #007;
    --img-title-color: #003;
    --img-title-bgcolor: rgba(255, 255, 255, 0.45);
    --img-title-shadow-color: white;
    --img-title-shadow-size: 20px;
}

nav {
    background-color: var(--bg-color);
    padding: 10px;
}

nav a {
    color: var(--nav-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--header-color);
    padding: 1rem;
}

img {
    width: var(--img-width);
    height: auto;
    border: var(--border-size) var(--main-border-style) var(--border-color);
    padding: var(--img-padding);
    box-shadow: var(--shadow-offset) var(--blur-radius) var(--shadow-color);
}

p {
    padding: 1rem;
}

main {
    max-width: 600px;
}

main img {
    width: var(--img-width);
    height: auto;
    border: var(--border-size) var(--main-border-style) var(--border-color);
    padding: var(--img-padding);
    box-shadow: var(--shadow-offset) var(--blur-radius) var(--shadow-color);
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    width: 20rem;
    position: relative;

}

aside h2 {
    position: absolute;
    top: 140px;
    left: 50px;
    color: var(--img-title-color);
    background-color: var(--img-title-bgcolor);
    box-shadow: var(--shadow-offset) var(--img-title-shadow-size) var(--img-title-shadow-color);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 2em;
    border-top: var(--border-size) dotted var(--border-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--border-size) var(--main-border-style) var(--aside-border-color);
    padding: 1rem;
    background-color: var(--aside-bgcolor);
    color: var(--aside-color);
}

.indent {
    padding-left: 2rem;
}