:root {
    --border-size: 1px;
    --border-color: black;
    --aside-border-color: rgb(0 0 139 / 0.3);
    --header-color: darkblue;
    --shadow-color: gray;
    --main-border-style: solid;
    --blur-radius: 30px;
    --shadow-offset: 0 0;
    --img-width: 150px;
    --img-padding: 2px;
    --bg-color: darkblue;
    --aside-bgcolor: rgb(208, 235, 252);
    --nav-color: white;
    --aside-color: #007;
}

nav {
    background-color: var(--bg-color);
    padding: 10px;
}

nav a {
    color: var(--nav-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--header-color);
}

img {
    width: var(--img-width);
    height: auto;
    border: var(--border-size) var(--main-border-style) var(--border-color);
    padding: var(--img-padding);
    box-shadow: var(--shadow-offset) var(--blur-radius) var(--shadow-color);
}

p {
    padding: 0;
}

main {
    max-width: 600px;
}

main img {
    width: var(--img-width);
    height: auto;
    border: var(--border-size) var(--main-border-style) var(--border-color);
    padding: var(--img-padding);
    box-shadow: var(--shadow-offset) var(--blur-radius) var(--shadow-color);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border-size) var(--main-border-style) var(--aside-bordercolor);
    padding: 1rem;
    background-color: var(--aside-bgcolor);
    color: var(--aside-color);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 2em;
    border-top: var(--border-size) dotted var(--border-color);
    text-align: center;
}